<%= form_for(@project) do |f| %>

<% if @project.errors.any? %>
<div id="error_explanation">
    <h4>
    <%= pluralize(@project.errors.count, "error") %>
    occurred:
    </h4>

    <ul>
    <% @project.errors.full_messages.each do |msg| %>
    <li class="error"><%= msg %></li>
    <% end %>
    </ul>
</div>
<% end %>

<p><%= f.label :name %>: 
<%= f.text_field :name %>
</p>
<p><%= f.label :description %>: 
<%= f.text_field :description %> (i.e. novel, short story, research paper, essay)</p>
<p><%= f.label :summary %>: </p>
<p><%= f.text_area(:summary, size: "50x15")%></p>

<%= f.submit %>
<% end %>

